<section class="modal-backdrop is-hidden" id="modalBackdrop">
  <div class="modal-window">
    <button class="modal-close-btn" type="button" id="modalCloseBtn">
      <svg width="24" height="24">
        <use href="./img/svg/sprite.svg#mobile-menu-close"></use>
      </svg>
    </button>
    <div class="container-windows">
      <h2 class="modal-title">Thank you for your interest in cooperation!</h2>
      <p class="modal-text">
        The manager will contact you shortly to discuss further details and
        opportunities for cooperation. Please stay in touch.
      </p>
    </div>
  </div>
</section>
