<section class="section-work-together" id="#work-together">
  <div class="container container-work-together">
    <h2 class="title-work-together">
      let’s <span>work<br />together</span>
    </h2>
    <div class="contact-wrapper">
      <div class="contact-left">
        <p class="text">
          Contact me to transform your ideas into exceptional solutions.
        </p>
        <ul class="work-together-info">
          <li>
            <svg class="icon" width="24" height="24">
              <use href="./src/img/svg/sprite.svg#phone"></use>
            </svg>

            <a class="work-together-tel" href="tel:+380904567890"
              >+38 090 456 78</a
            >
          </li>
          <li>
            <svg class="icon" width="24" height="24">
              <use href="./src/img/svg/sprite.svg#email"></use>
            </svg>
            <a class="mail" href="mailto:lloydjefferson@gmail.com"
              >lloydjefferson@gmail.com</a
            >
          </li>
          <li>
            <svg class="icon" width="24" height="24">
              <use href="./src/img/svg/sprite.svg#geolocation"></use>
            </svg>
            <span class="add">USA, New York</span>
          </li>
        </ul>
      </div>
      <div class="contact-right">
        <form id="contactForm">
          <div class="email-label">
            <input id="email" type="email" placeholder="Enter your email" />
            <!-- вставити галочку з svg -->
            <span id="success-icon" class="success-icon">&#10003;</span>

            <p id="email-error" class="error-message" hidden>
              Invalid email, try again
            </p>
          </div>

          <label for="message">
            <textarea
              id="message"
              name="message"
              rows="5"
              placeholder="Message"
            ></textarea>
          </label>

          <button class="work-together-form" type="submit">SEND MESSAGE</button>
        </form>
      </div>
    </div>
  </div>
</section>
