.theme-switcher {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.theme-switcher input {
  opacity: 0;
  width: 0;
  height: 0;
}

.theme-switcher .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-grey);
  transition: 0.4s;
  border-radius: 12px;
}

.theme-switcher .slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: var(--accet-green);
  transition: 0.4s;
  border-radius: 50%;
}

.theme-switcher input:checked + .slider {
  background-color: var(--black);
}

.theme-switcher input:checked + .slider:before {
  transform: translateX(24px);
}

/* .cover-circle {
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: var(--black);
} */

/* .theme-switcher .slider::after {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 60px;
  bottom: 2px;
  background-color: var(--black);
  transition: 0.8s;
  border-radius: 50%;
} */

body.dark {
  background-color: var(--black-dt);
  color: var(--white-dt);
}

/* h1.dark {
  color: var(--white-dt);
} */

h3.dark {
  color: var(--white-dt);
}

/* .footer-logo.dark {
  color: var(--white-dt);
} */
